html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: #f5f6f8;
}

.ant-pro-layout,
.ant-pro-layout-container,
.ant-pro-layout-content {
  height: 100%;
}

.ant-pro-layout .ant-layout {
  min-height: 100%;
}

.ant-pro-page-container,
.ant-pro-page-container-children-container {
  height: 100%;
}
