<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.tdesign.mapper.SecurityPasswordPolicyMapper">
  <select id="selectTop" resultType="com.tencent.tdesign.entity.SecurityPasswordPolicy">
    SELECT id, password_min_length, password_require_uppercase, password_require_lowercase, password_require_special, password_allow_sequential
    FROM security_password_policy
    ORDER BY id ASC
    <choose>
      <when test="_databaseId == 'sqlserver'">
        OFFSET 0 ROWS FETCH NEXT 1 ROWS ONLY
      </when>
      <when test="_databaseId == 'oracle'">
        FETCH FIRST 1 ROWS ONLY
      </when>
      <otherwise>
        LIMIT 1
      </otherwise>
    </choose>
  </select>

  <insert id="insert" parameterType="com.tencent.tdesign.entity.SecurityPasswordPolicy" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO security_password_policy (
      password_min_length, password_require_uppercase, password_require_lowercase, password_require_special, password_allow_sequential
    ) VALUES (
      #{passwordMinLength}, #{passwordRequireUppercase}, #{passwordRequireLowercase}, #{passwordRequireSpecial}, #{passwordAllowSequential}
    )
  </insert>

  <update id="update" parameterType="com.tencent.tdesign.entity.SecurityPasswordPolicy">
    UPDATE security_password_policy
    SET
      password_min_length = #{passwordMinLength},
      password_require_uppercase = #{passwordRequireUppercase},
      password_require_lowercase = #{passwordRequireLowercase},
      password_require_special = #{passwordRequireSpecial},
      password_allow_sequential = #{passwordAllowSequential}
    WHERE id = #{id}
  </update>
</mapper>
