<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.tdesign.mapper.UiFooterSettingMapper">
  <select id="selectTop" resultType="com.tencent.tdesign.entity.UiFooterSetting">
    SELECT id, footer_company, footer_icp, copyright_start_year
    FROM ui_footer_settings
    ORDER BY id ASC
    LIMIT 1
  </select>

  <insert id="insert" parameterType="com.tencent.tdesign.entity.UiFooterSetting" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO ui_footer_settings (
      footer_company, footer_icp, copyright_start_year
    ) VALUES (
      #{footerCompany}, #{footerIcp}, #{copyrightStartYear}
    )
  </insert>

  <update id="update" parameterType="com.tencent.tdesign.entity.UiFooterSetting">
    UPDATE ui_footer_settings
    SET
      footer_company = #{footerCompany},
      footer_icp = #{footerIcp},
      copyright_start_year = #{copyrightStartYear}
    WHERE id = #{id}
  </update>
</mapper>
