<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.tdesign.mapper.UiLegalSettingMapper">
  <select id="selectTop" resultType="com.tencent.tdesign.entity.UiLegalSetting">
    SELECT id, user_agreement, privacy_agreement
    FROM ui_legal_settings
    ORDER BY id ASC
    <choose>
      <when test="_databaseId == 'sqlserver'">
        OFFSET 0 ROWS FETCH NEXT 1 ROWS ONLY
      </when>
      <when test="_databaseId == 'oracle'">
        FETCH FIRST 1 ROWS ONLY
      </when>
      <otherwise>
        LIMIT 1
      </otherwise>
    </choose>
  </select>

  <insert id="insert" parameterType="com.tencent.tdesign.entity.UiLegalSetting" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO ui_legal_settings (
      user_agreement, privacy_agreement
    ) VALUES (
      #{userAgreement}, #{privacyAgreement}
    )
  </insert>

  <update id="update" parameterType="com.tencent.tdesign.entity.UiLegalSetting">
    UPDATE ui_legal_settings
    SET
      user_agreement = #{userAgreement},
      privacy_agreement = #{privacyAgreement}
    WHERE id = #{id}
  </update>
</mapper>
