<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.tdesign.mapper.UserMapper">
  <sql id="BaseSelect">
    SELECT id,
      account,
      guid,
      name,
      password_hash,
      mobile,
      email,
      id_card,
      id_type,
      id_valid_from,
      id_valid_to,
      seat,
      entity,
      leader,
      position,
      join_day,
      team,
      gender,
      nickname,
      province_id,
      province,
      city_id,
      city,
      district_id,
      district,
      town_id,
      town,
      street_id,
      street,
      zip_code,
      address,
      introduction,
      avatar,
      tags,
      status,
      created_at,
      updated_at
    FROM users
  </sql>

  <select id="selectById" resultType="com.tencent.tdesign.entity.UserEntity">
    <include refid="BaseSelect" />
    WHERE id = #{id}
  </select>

  <select id="selectByAccount" resultType="com.tencent.tdesign.entity.UserEntity">
    <include refid="BaseSelect" />
    WHERE account = #{account}
  </select>

  <select id="selectByMobile" resultType="com.tencent.tdesign.entity.UserEntity">
    <include refid="BaseSelect" />
    WHERE mobile = #{mobile}
  </select>

  <select id="selectByPhone" resultType="com.tencent.tdesign.entity.UserEntity">
    <include refid="BaseSelect" />
    WHERE mobile = #{phone}
  </select>

  <select id="selectByEmail" resultType="com.tencent.tdesign.entity.UserEntity">
    <include refid="BaseSelect" />
    WHERE email = #{email}
  </select>

  <select id="selectAll" resultType="com.tencent.tdesign.entity.UserEntity">
    <include refid="BaseSelect" />
    ORDER BY id ASC
  </select>

  <select id="selectByIds" resultType="com.tencent.tdesign.entity.UserEntity">
    <include refid="BaseSelect" />
    WHERE id IN
    <foreach collection="ids" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>
  </select>

  <select id="selectAllIds" resultType="long">
    SELECT id FROM users ORDER BY id ASC
  </select>

  <select id="selectPage" resultType="com.tencent.tdesign.entity.UserEntity">
    <include refid="BaseSelect" />
    <where>
      <if test="keyword != null and keyword != ''">
        AND (account LIKE CONCAT(CONCAT('%', #{keyword}), '%')
          OR name LIKE CONCAT(CONCAT('%', #{keyword}), '%'))
      </if>
      <if test="mobile != null and mobile != ''">
        AND mobile LIKE CONCAT(CONCAT('%', #{mobile}), '%')
      </if>
      <if test="status != null">
        AND status = #{status}
      </if>
      <if test="orgUnitId != null">
        AND id IN (
          SELECT user_id FROM user_org_units WHERE org_unit_id = #{orgUnitId}
        )
      </if>
      <if test="departmentId != null">
        AND id IN (
          SELECT user_id FROM user_departments WHERE department_id = #{departmentId}
        )
      </if>
      <if test="startTime != null">
        AND created_at &gt;= #{startTime}
      </if>
      <if test="endTime != null">
        AND created_at &lt;= #{endTime}
      </if>
    </where>
    ORDER BY id ASC
    <choose>
      <when test="_databaseId == 'oracle' or _databaseId == 'sqlserver'">
        OFFSET #{offset} ROWS FETCH NEXT #{limit} ROWS ONLY
      </when>
      <otherwise>
        LIMIT #{limit} OFFSET #{offset}
      </otherwise>
    </choose>
  </select>

  <select id="countByKeyword" resultType="long">
    SELECT COUNT(1)
    FROM users
    <where>
      <if test="keyword != null and keyword != ''">
        AND (account LIKE CONCAT(CONCAT('%', #{keyword}), '%')
          OR name LIKE CONCAT(CONCAT('%', #{keyword}), '%'))
      </if>
      <if test="mobile != null and mobile != ''">
        AND mobile LIKE CONCAT(CONCAT('%', #{mobile}), '%')
      </if>
      <if test="status != null">
        AND status = #{status}
      </if>
      <if test="orgUnitId != null">
        AND id IN (
          SELECT user_id FROM user_org_units WHERE org_unit_id = #{orgUnitId}
        )
      </if>
      <if test="departmentId != null">
        AND id IN (
          SELECT user_id FROM user_departments WHERE department_id = #{departmentId}
        )
      </if>
      <if test="startTime != null">
        AND created_at &gt;= #{startTime}
      </if>
      <if test="endTime != null">
        AND created_at &lt;= #{endTime}
      </if>
    </where>
  </select>

  <select id="countByAccount" resultType="long">
    SELECT COUNT(1)
    FROM users
    WHERE account = #{account}
  </select>

  <select id="countByEmailIgnoreCase" resultType="long">
    SELECT COUNT(1)
    FROM users
    WHERE LOWER(email) = LOWER(#{email})
  </select>

  <select id="countByIdCard" resultType="long">
    SELECT COUNT(1)
    FROM users
    WHERE id_card = #{idCard}
  </select>

  <insert id="insert" parameterType="com.tencent.tdesign.entity.UserEntity" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO users (
      account,
      guid,
      name,
      password_hash,
      mobile,
      email,
      id_card,
      id_type,
      id_valid_from,
      id_valid_to,
      seat,
      entity,
      leader,
      position,
      join_day,
      team,
      gender,
      nickname,
      province_id,
      province,
      city_id,
      city,
      district_id,
      district,
      town_id,
      town,
      street_id,
      street,
      zip_code,
      address,
      introduction,
      avatar,
      tags,
      status
    )
    VALUES (
      #{account},
      #{guid},
      #{name},
      #{passwordHash},
      #{mobile},
      #{email},
      #{idCard},
      #{idType},
      #{idValidFrom},
      #{idValidTo},
      #{seat},
      #{entity},
      #{leader},
      #{position},
      #{joinDay},
      #{team},
      #{gender},
      #{nickname},
      #{provinceId},
      #{province},
      #{cityId},
      #{city},
      #{districtId},
      #{district},
      #{townId},
      #{town},
      #{streetId},
      #{street},
      #{zipCode},
      #{address},
      #{introduction},
      #{avatar},
      #{tags},
      #{status}
    )
  </insert>

  <update id="update" parameterType="com.tencent.tdesign.entity.UserEntity">
    UPDATE users
    SET
      account = #{account},
      guid = #{guid},
      name = #{name},
      password_hash = #{passwordHash},
      mobile = #{mobile},
      email = #{email},
      id_card = #{idCard},
      id_type = #{idType},
      id_valid_from = #{idValidFrom},
      id_valid_to = #{idValidTo},
      seat = #{seat},
      entity = #{entity},
      leader = #{leader},
      position = #{position},
      join_day = #{joinDay},
      team = #{team},
      gender = #{gender},
      nickname = #{nickname},
      province_id = #{provinceId},
      province = #{province},
      city_id = #{cityId},
      city = #{city},
      district_id = #{districtId},
      district = #{district},
      town_id = #{townId},
      town = #{town},
      street_id = #{streetId},
      street = #{street},
      zip_code = #{zipCode},
      address = #{address},
      introduction = #{introduction},
      avatar = #{avatar},
      tags = #{tags},
      status = #{status}
    WHERE id = #{id}
  </update>

  <delete id="deleteById">
    DELETE FROM users WHERE id = #{id}
  </delete>
</mapper>
